@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rosario&display=swap");

@mixin small {
    @media (max-width : 420px) {
        @content;
    }
}

// @media (prefers-color-scheme: dark) {
//     .tooltip {
//         color: white;
//         background-color: #262626;
//     }
// }

// @media (prefers-color-scheme: light) {
    //     .tooltip {
    //         color: black;
    //         background-color: white;
    //     }
    // }

.tooltip {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px 16px 18px;
    max-width: 440px;
    max-height: 400px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition-duration: 100ms;
    z-index: 999;
    opacity: 1;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-overflow: "...";
    color: black;
    background-color: white;

    @include small {
        flex-direction: column-reverse;
    }

    &:active {
        transform: scale(.96);
    }

    hr {
        width: 90%;
        margin: 4px;
    }

    .tool-data {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        word-wrap: break-word;
        text-overflow: "...";

        .tool-title {
            font-weight: bolder;
            font-size: medium;
            margin: 4px;
        }

        .tool-description {
            font-weight: bold;
            font-size: smaller;
            margin: 4px;
            display: block;
            opacity: .8;
        }

        .tool-url {
            color: gray;
            font-size: x-small;
            font-family: 'Roboto', sans-serif;
            text-decoration: underline;
            transform: translateY(2px);
        }
    }

    .tool-img {
        margin: auto 2px auto 2px;
        overflow: hidden;

        #image {
            width: 100%;
            max-width: 240px;
            border-radius: 10px;
        }
    }
}