@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rosario&display=swap");

@mixin small {
    @media (max-width : 420px) {
        @content;
    }
}

.tooltip {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px 16px 18px;
    width: 30%;
    max-width: 480px;
    max-height: 400px;
    // border: 2px solid #2f2e41;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    transition-duration: 100ms;
    z-index: 999;
    // visibility: hidden;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    @include small {
        flex-direction: column-reverse;
    }

    &:active {
        transform: scale(.96);
    }

    hr {
        width: 90%;
        margin: 4px;
    }

    .tool-data {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        word-wrap: break-word;

        .tool-title {
            font-weight: bolder;
            font-size: medium;
            margin: 4px;
        }

        .tool-description {
            font-weight: bold;
            font-size: smaller;
            margin: 4px;
            display: block;
            opacity: .8;
        }

        .tool-url {
            color: gray;
            font-size: x-small;
            font-family: 'Roboto', sans-serif;
            text-decoration: underline;
            transform: translateY(2px);
        }
    }

    .tool-img {
        margin: 2px auto 2px auto;
        overflow: hidden;

        #image {
            width: 100%;
            max-width: 220px;
            border-radius: 10px;
        }
    }
}