@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rosario&display=swap");

@mixin small {
    @media (max-width : 420px) {
        @content;
    }
}

.tooltip {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px 16px 18px;
    margin: auto;
    border: 2px solid #2f2e41;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    transition-duration: 100ms;
    z-index: 9999;

    @include small {
        flex-direction: column-reverse;
    }

    &:active {
        transform: scale(.96);
    }

    hr {
        width: 90%;
        margin: 4px;
    }

    .tool-data {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    img {
        max-width: 100%;
        height: 100%;
        max-height: 60px;
        margin: 4px 2px 4px 12px;
        border-radius: 10px;

        @include small {
            margin: 0;
        }
    }


    .tool-title {
        font-weight: bolder;
        font-size: medium;
        margin: 4px;
    }

    .tool-description {
        font-weight: bold;
        font-size: small;
        margin: 4px;
        display: block;
        opacity: .8;
    }

    .tool-url {
        color: gray;
        font-size: smaller;
        font-family: 'Roboto', sans-serif;
        text-decoration: underline;
        transform: translateY(2px);
    }

}